.iconButton {
  transition: all 0.2s !important;
}
.iconButton:hover {
  background-color: #e8e9ec !important;
  box-shadow: 0px 7px 7px rgba(0, 0, 0, 0.4);
}
.todoCard {
  transition: all 0.2s !important;
}
.todoCard:hover {
  /* padding-bottom: 20px;
  padding-top: 20px; */
  box-shadow: 0px 7px 7px rgba(0, 0, 0, 0.4);
}
.listButton {
  transition: all 0.2s !important;
}
.listButton:hover {
  background-color: #e8e9ec !important;
  /* box-shadow: 0px 7px 7px rgba(0, 0, 0, 0.4); */
}

@font-face {
  font-family: Jost;
  src: url("/public/fonts/Jost/Jost-Regular.ttf");
  font-weight: normal;
}
@font-face {
  font-family: Jost;
  src: url("/public/fonts/Jost/Jost-Bold.ttf");
  font-weight: bold;
}

@font-face {
  font-family: Jost;
  src: url("/public/fonts/Jost/Jost-SemiBold.ttf");
  font-weight: 600;
}
